@mixin button-normal($color, $background-color, $border-color){
    background-color: $background-color;
    color: $color;
    border: 1px solid darken($border-color, 10%);
    &:hover, &:focus, &:active {
        border-color: darken($border-color, 30%);
        background-color: darken($background-color, 10%);
    }
}

@mixin button-outline($color, $background-color, $border-color) {
    background-color: transparent;
    border: 1px solid $border-color;
    color: $color;
    &:hover, &:focus, &:active {
        color: $color;
        border-color: $border-color;
        background-color: $background-color;
    }
}