.footer-guides {
  background: $theme-secondary;
  color: $theme-tertiary;
  .row {
    width: 80%;
    .col-md-3 {
      border-right: solid 1px $theme-quaternary;
      padding: 0 1em;
      &:last-child {
        border: none;
      }
      > a {
        color: $theme-quaternary;
      }
      @media (max-width: 767px) {
        border: none
      }
    }
  }
  .footer-icon {
    width: 30px;
    margin: 1em;
  }
}
