// Styling for the navbar
#mainNav {
    hr {        
        max-width: 100px;
    }
    border-color: fade-out($gray-darker, .95);
    background-color: $theme-tertiary;
    @include transition-all;
    @include heading-font;    
    .navbar-brand {
        color: $theme-primary;
        @include heading-font;
        &:hover, &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: $gray-darker;
    }
    .navbar-nav {
        .nav-item {
            a {
                color: $dark;
                @include alt-font;
                &:hover {
                    color: $theme-quaternary;
                }                           
            }            
        // sub nav bar start
            .navbar-subnav {
                visibility: hidden;        
                background: $theme-secondary;
                opacity: 0;
                height: 0;
                padding: 0;
                transition: 0.25s;
                a {        
                    transform: translateY(-25%);
                    transition: 0.1s;
                    display: block;
                }
                .subnav-active {
                    color: $theme-quaternary !important;
                }    
            }
            @media (min-width: 992px){
                .navbar-subnav {
                    position: absolute;
                    left: 0;
                    visibility: hidden;
                    opacity: 0;
                    width: 100%;
                    a {
                        display: inline-block;
                        transform: initial;
                    }    
                    .subnav-active {
                        border-bottom: $theme-quaternary solid 5px !important;
                    }
                    &:hover {
                        visibility: visible;
                        opacity: 1;
                        height: 100%;
                    }
                }
            }

            .show-dropdown a {
                color: inherit !important;
            }
            @media (min-width: 992px) {
                .show-dropdown {
                    visibility: visible;
                    opacity: 1;
                    height: 100%;
                    color: $theme-primary;
                    z-index: -1;
                    a {
                        color: inherit !important;
                        border-bottom: none !important;
                    }
                }
            }  
            .dropdown {
                visibility: visible;
                opacity: 1;
                transition: 0.25s;
                height: 100%;
                a {
                    transform: translateY(0%);
                    transition: 0.5s;
                }
            }
            @media (min-width: 992px){    
                .product-nav:hover {
                    +.navbar-subnav {
                        visibility: visible;
                        opacity: 1;
                        height: 100%;
                    }        
                }
            }
        //  sub nav bar end
        }
        .active {
            a {
                color: $theme-quaternary;
            }                      
            &:hover {
                background-color: transparent;
            }
            background-color: transparent;
        }
        .dropdown-menu {
            width: auto;
            min-width: auto;            
            .dropdown-item {
                text-align: center;
                background: $theme-quaternary;
                color: $theme-primary;         
                border: none;
                &:hover {
                    background: $theme-quaternary;
                    color: $theme-secondary;
                    transition: 0.25s;
                }
            }
        }        
    }
    @media (min-width: 992px) {
        .navbar-nav {     
            align-items: center;       
            .active a {
                border-bottom: $theme-quaternary solid 5px;
            }
        }
    }
    &.navbar-shrink {
        border-color: fade($gray-darker, .9);
        background-color: rgba($theme-tertiary,0.25);                
        a {
            color: fade-out($theme-primary, .9) !important;
        }
        .navbar-brand {
            color: fade-out($gray-darker, .9) !important;
        }
        .active {
            a {
                border-color: fade-out($theme-quaternary, .9) !important;
            }            
        }
        .navbar-subnav {
            background-color: transparent !important;
            .subnav-active {
                .container {
                    a {
                        color: fade-out($theme-primary, .9) !important;
                        border-color: fade-out($theme-quaternary, .9) !important;
                    }
                }                
            }            
        }
        &:hover {
            background-color: rgba($theme-tertiary,0.75);
            color: $theme-primary !important;
            .active {
                a {
                    border-color: $theme-quaternary !important;
                }               
            }
        }
    }
}





