// Styling for the navbar
#mainNav {
    @include transition-all;
    @include heading-font;  
    border-color: fade-out($gray-darker, .95);
    background-color: $theme-tertiary;    
    font-weight: 400;
    letter-spacing: 1px;
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: $gray-darker;
    }
    .navbar-nav {
        .nav-item {
            a {
                color: $theme-primary;
                &:hover {
                    color: $theme-quaternary;
                }                           
            }            
            .navbar-subnav {
                visibility: hidden;        
                background: $theme-secondary;
                opacity: 0;
                height: 0;
                padding: 0;
                transition: 0s;
                a {        
                    transform: translateY(-25%);
                    transition: 0.1s;
                    display: block;
                }  
            }
            .show-dropdown {
                visibility: visible;
                opacity: 1;
                height: auto;
                a {
                    transform: translateY(0%);
                }
            }
            .dropdown {
                visibility: visible;
                opacity: 1;
                transition: 0.25s;
                height: auto;
                a {
                    transform: translateY(0%);
                    transition: 0.5s;
                }
            }       
        }
        .dropdown-menu {      
            .dropdown-item {
                text-align: center;
                background: $theme-quaternary;
                color: $theme-primary;         
                border: none;
                &:hover {
                    background: $theme-quaternary;
                    color: $theme-secondary;
                    transition: 0.25s;
                }
            } 
        }
    }
    .active {
        .nav-link {
            color: $theme-quaternary !important;
        }
        .subnav-link {
            color: $theme-primary !important;
            &:hover {
                color: $theme-quaternary !important;
            }
        }
        .subnav-active {
            color: $theme-quaternary !important;
        }
    }
    @media (min-width: 992px) {
        .navbar-nav {
            .nav-item {
                .navbar-subnav {
                    position: absolute;
                    left: 0;
                    visibility: hidden;
                    opacity: 0;
                    width: 100%;
                    a {
                        display: inline-block;
                        transform: translateY(0%);
                    }    
                    &:hover {
                        visibility: visible;
                        opacity: 1;
                        height: 100%;
                    }
                }
                .dropdown-toggle:hover {
                    +.navbar-subnav {
                        visibility: visible;
                        opacity: 1;
                        height: 100%;
                        z-index: 2;
                    }     
                }
            }            
        }
        .active {
            .nav-link {
                color: $theme-quaternary !important;
            }
            .subnav-link {
                color: $theme-primary !important;
            }
            .subnav-active {
                color: $theme-quaternary !important;
                border-bottom: $theme-quaternary solid 5px !important;
            }
        }  
        &.navbar-shrink {
            opacity: 0.5;
            transition: 0.5s;
            &:hover {
                opacity: 1;
                transition: 0.25s;
            }    
        }  
    }
}





