// Styling for the navbar
#mainNav {
    hr {        
        max-width: 100px;
    }
    border-color: fade-out($gray-darker, .95);
    background-color: $theme-primary;
    @include transition-all;
    @include heading-font;
    &.navbar-shrink {
        border-color: fade-out($gray-darker, .9);
        background-color: rgba($theme-primary,0.25);;
        &:hover {
            background-color: rgba($theme-primary,0.75);
        }
        &.navbar-brand {
            color: $gray-darker !important;
            &:hover {
                color: $theme-secondary;
            }
        }
    }
    .navbar-brand {
        color: $theme-secondary;
        @include heading-font;
        &:hover, &:focus {
            color: darken($theme-secondary, 10%);
        }
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: $gray-darker;
    }
    .navbar-nav {
        .nav-item {
            a {
                color: $dark;
                @include alt-font;
                &:hover {
                    color: $theme-tertiary;
                }                           
            }              
        }
        .active {
            a {
                color: $theme-tertiary;
            }                      
            &:hover {
                background-color: transparent;
            }
            background-color: transparent;
        }
        .dropdown-item {
            color: $dark !important;
        }
    }
    @media (min-width: 992px) {
        .navbar-nav {            
            .active a {
                border-bottom: $theme-tertiary solid 5px;
            }
        }
    }
}

.navbar-subnav {
    visibility: hidden;        
    background: #FFE1A8;
    opacity: 0;
    height: 0;
    padding: 0;
    transition: 0.25s;
}
.navbar-subnav a {        
    transform: translateY(-25%);
    transition: 0.1s;
    display: block;
}
.dropdown {
    visibility: visible;
    opacity: 1;
    transition: 0.25s;
    height: 100%;
}
.dropdown a {
    transform: translateY(0%);
    transition: 0.5s;
}
.show-dropdown a {
    color: inherit !important;
}
.navbar-subnav .subnav-active {
    color: $theme-tertiary !important;
}
@media (min-width: 992px){
    .navbar-subnav {
        position: absolute;
        left: 0;
        visibility: hidden;
        opacity: 0;
        width: 100%;    
    }
    .navbar-subnav a {
        display: inline-block;
        transform: initial;
    }
    .show-dropdown {
        visibility: visible;
        opacity: 1;
        height: 100%;
        color: $theme-secondary
    }
    .show-dropdown a {
        color: inherit !important;
        border-bottom: none !important;
    }
    .navbar-subnav .subnav-active {
        border-bottom: $theme-tertiary solid 5px !important;
    }
    .navbar-subnav:hover,.product-nav:hover +.navbar-subnav {
        visibility: visible;
        opacity: 1;
        height: 100%;
    }
}