// Styling for the navbar
#mainNav {
    border-color: fade-out($gray-darker, .95);
    background-color: $theme-primary;
    @include transition-all;
    @include heading-font;
    &.navbar-shrink {
        border-color: fade-out($gray-darker, .9);
        background-color: rgba($theme-primary,0.25);;
        &:hover {
            background-color: rgba($theme-primary,0.75);
        }
        &.navbar-brand {
            color: $gray-darker !important;
            &:hover {
                color: $theme-secondary;
            }
        }
    }
    .navbar-brand {
        color: $theme-secondary;
        @include heading-font;
        &:hover, &:focus {
            color: darken($theme-secondary, 10%);
        }
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: $gray-darker;
    }
    .navbar-nav {
        .nav-item {
            a {
                color: $dark;
                @include alt-font;
                &:hover {
                    color: $theme-tertiary;
                }                           
            }              
        }
        .active {
            a {
                color: $theme-tertiary;
            }                      
            &:hover {
                background-color: transparent;
            }
            background-color: transparent;
        }
        .dropdown-item {
            color: $dark !important;
        }
    }
    @media (min-width: 992px) {
        .navbar-nav {            
            .active {
                border-bottom: $theme-tertiary solid 5px;
            }
        }
    }
    // @media (min-width: 992px) {
    //     .navbar-brand {
    //         color: fade(white, 70%);
    //         &:hover,
    //         &:focus {
    //             color: white;
    //         }
    //     }
    //     .navbar-nav > li > a,
    //     .navbar-nav > li > a:focus {
    //         color: fade-out(black, .3);
    //         &:hover {
    //             color: black;
    //         }
    //     }
    //     &.navbar-shrink {
    //         border-color: fade-out($gray-darker, .9);
    //         border-bottom: solid 1px;
    //         .navbar-brand {
    //             color: $gray-darker;
    //             &:hover,
    //             &:focus {
    //                 color: $theme-secondary;
    //             }
    //         }
    //         .navbar-nav > li > a,
    //         .navbar-nav > li > a:focus {
    //             color: $gray-darker;
    //             &:hover {
    //                 color: $theme-secondary;
    //             }
    //         }
    //     }
    // }
}