/* Coolors Exported Palette - coolors.co/c9cba3-ffe1a8-e26d5c-723d46-472d30 */

/* HSL */
$color1: hsla(63%, 28%, 72%, 1);
$color2: hsla(39%, 100%, 83%, 1);
$color3: hsla(8%, 70%, 62%, 1);
$color4: hsla(350%, 30%, 34%, 1);
$color5: hsla(353%, 22%, 23%, 1);

/* RGB */
$color1: rgba(201, 203, 163, 1);
$color2: rgba(255, 225, 168, 1);
$color3: rgba(226, 109, 92, 1);
$color4: rgba(114, 61, 70, 1);
$color5: rgba(71, 45, 48, 1);

$color1: #C9CBA3;
$color2: #FFE1A8;
$color3: #E26D5C;
$color4: #723D46;
$color5: #472D30;