/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0px;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%; 
  padding: 0.1rem 0.25rem;
  overflow: hidden; 
  list-style: none;
  border: solid 1px black;
  background: fade(slategrey,20%);
  max-height: 4.5em;
  /* overflow: auto; */
  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
}
.Rtable-cell hr {
  margin: 5px auto;
}

/* Table column sizing
==================================  */
.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }
.Rtable--13cols > .Rtable-cell  { width: 7.69%; }

@media(max-width: 500px) {
  .Rtable--6cols > .Rtable-cell  { width: 100%; }
}