// Custom themes color
// Variables

/* cafe brand from collors.co */
$color1: #C9CBA3;
$color2: #FFE1A8;
$color3: #E26D5C;
$color4: #723D46;
$color5: #472D30;

// Gray and Brand Colors for use across theme

$theme-primary:    $color5;
$theme-secondary:  $color2;
$theme-tertiary:   $color1;
$theme-quaternary: $color3;
$theme-quinary:    $color4;

$dark:             $color5;
// $light:            $color1;

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee

$brand-twitter:		#1da1f2;
$brand-facebook:	#3b5998;
$brand-google-plus:	#dd4b39;